/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * aktiv-grotesk-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9ad12e
 * realist:
 *   - http://typekit.com/eulas/00000000000000007735ca62
 *   - http://typekit.com/eulas/00000000000000007735ca68
 *   - http://typekit.com/eulas/00000000000000007735ca71
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-11-30 18:19:22 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=jqk3vzz&ht=tk&f=26897.43821.43823.43825&a=37470129&app=typekit&e=css");

@font-face {
font-family:"aktiv-grotesk-condensed";
src:url("https://use.typekit.net/af/75d2b8/00000000000000003b9ad12e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/75d2b8/00000000000000003b9ad12e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/75d2b8/00000000000000003b9ad12e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"realist";
src:url("https://use.typekit.net/af/452920/00000000000000007735ca62/30/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/452920/00000000000000007735ca62/30/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/452920/00000000000000007735ca62/30/a?subset_id=2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"realist";
src:url("https://use.typekit.net/af/a9d5ed/00000000000000007735ca68/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/a9d5ed/00000000000000007735ca68/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/a9d5ed/00000000000000007735ca68/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"realist";
src:url("https://use.typekit.net/af/95c264/00000000000000007735ca71/30/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/95c264/00000000000000007735ca71/30/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/95c264/00000000000000007735ca71/30/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-aktiv-grotesk-condensed { font-family: "aktiv-grotesk-condensed",sans-serif; }
.tk-realist { font-family: "realist",sans-serif; }
